.vscode/
.idea/
.github/
.clangd/
.cache/
build/
.DS_Store
.env
.env.*
!.env.example
docker-compose.override.yml
Camera/
logs/
assets/img_with_q/
records/
records_auto_buff_big/
records_new/
imgs/
MvSdkLog/
testvideos/
watchdog.sh
records_24/
records_25/
kernel.errors.txt/
